@charset "utf-8";
.container_tp{
  width: 1240px;
  margin: 0 auto;
}
.tp_title{
  width: 100%;
  height:150px;
  font-weight: lighter;
  line-height: 150px;
  font-size:34px;
  border-bottom: 1px solid #e6e6e6;
}
.tp_main_one ul{
  width: 100%;
  height:295px;
  padding:50px 0;
  font-size: 16px;
  border-bottom: 1px dotted #e2e2e2;
}
.tp_main_li{
  height: 43px;
  line-height: 43px;
  margin-bottom: 30px;
  box-sizing: border-box;
}
.tp_main_one ul li div{
  float:left;
}
/*定义文本输入框的样式*/
.tp_main_textarea{
  background: #fafafa;
  border: 1px solid #ccc;
}
/*定义所有名字的样式*/
.tp_main_span{
  margin-left: 10px;
  margin-right: 20px;
}
/*定义所有输入框的样式*/
.tp_main_input{
  width: 478px;
  background: #fafafa;
  height: 43px;
  border: 1px solid #ccc;
}
/*定义选择框的样式*/
.tp_main_select{
  border: 1px solid #ccc;
  background:#fafafa;
}
.tp_main_one ul li div select{
  width: 478px;
  height: 43px;
  border: 1px solid #ccc;
  background: #fafafa;
}
.input_right{
  margin-right:20px;
}
.input_left{
  margin-left:15px;
}
.input_leftP{
  padding-left: 15px;
}


.tp_main_two{
  padding-top: 50px;
  height: 418px;
  padding-bottom: 50px;
  font-size:16px;
  border-bottom: 1px dotted #e2e2e2;
}
.tp_main_two span{
  font-size: 16px;
}
.tp_main_two>div:first-child{
  vertical-align:middle;
  height: 238px;
}
.tp_main_two div:nth-child(2) div{
  width: 50%;
  float: left;
}
.tp_main_two>div:last-child{
  margin-top:30px;
}
.tp_main_three {
  height: 678px;
  width: 100%;
  font-size: 16px;
  padding-top: 65px;
  border-bottom: 1px solid #e2e2e2;
}
.tp_main_three>div{
  float: left;
}
.tp_main_three>div:first-child{
  width: 120px;
}
.tp_main_three>div:first-child span{
  display: block;
  padding-left:10px;
}
.tp_main_three>div:last-child>div{
  height: 130px;
  box-sizing: border-box;
  width: 1120px;
  padding-top: 40px;
}
.tp_main_three>div:last-child>div:first-child{
  height: 86px;
  padding-top: 0;
}
.tp_main_three>div:last-child>div>ul li{
  float: left;
  width: 11.5%;
  margin-top: 18px;
  line-height: 16px;
}
.tp_main_three>div:last-child>div>ul li:nth-child(2){
  width: 21.9%;
}
.tp_main_three>div:last-child>div>ul li input{
  margin-right: 10px;
}


/*第四部分*/
.tp_main_four{
  padding-top: 50px;
  padding-bottom: 50px;
  height: 415px;
  border-bottom:1px solid #e2e2e2;
}
.tp_main_four>div{
  float: left;
}
.tp_main_four>div:first-child{
  height: 315px;
  width: 120px;
}
.tp_main_four>div:first-child span{
  display:block;
  font-size: 16px;
}
.tp_main_four>div:first-child span:last-child{
  margin-top: 30px;
}
.tp_main_four>div:first-child span:first-child{
  height: 43px;
  line-height:43px;
}
.tp_main_four>div:last-child{
  width:1120px;
}
.tp_main_four>div:last-child>select{
  width: 481px;
  height: 45px;
  margin-bottom: 30px;
}
/*第五部分*/
.tp_main_five{
  width: 100%;
  height: 145px;
  margin-top: 30px;
}
.tp_main_button{
  display: block;
  color: #217de0;
  font-size: 14px;
  width: 118px;
  height: 35px;
  border: 1px solid #007af1;
  font-weight: bold;
  text-align: center;
  line-height: 35px;
  vertical-align: middle;
  background: #fff;
}